<h1>Characters Found</h1>
<main>
    {{!-- <h1>Characters Found</h1> --}}
{{!-- <h2>{{this.test.title}}</h2> --}}
<h2>{{this.test.title}}</h2>
{{#if charactertobeFound}}
<ul>
    {{#each charactertobeFound}}
    <li>
        <a href="/characters/{{this.id}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
{{!-- {{if}} --}}
{{else}}
<p class="not-found">We're sorry, but no results were found for {{this.test.title}}.</p>
{{/if}}
 
 
{{#if hasErrors}}
{{#each errors}}
<li>
    {{this}}
</li>
<div class="another">
    <a href="/">Make another search</a>
</div>
{{/each}}
{{/if}}
 
<div class="another">
    <a href="/">Make another search</a>
</div>
</main>